:root {
  --bg: rgb(83, 7, 90);
  /* --bg: rgb(102, 15, 110); */
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #ff7300;
  --secondary-color-transparent: #ff730030;
  --shadow: 2px 2px 8px black;
  --header-font: 'Griffy', cursive;
  --body-font: sans-serif;
}

* {
  color: white;

  -webkit-tap-highlight-color: var(--secondary-color-transparent);
    -webkit-touch-callout: var(--secondary-color-transparent);
    -webkit-user-select: var(--secondary-color-transparent);
    -khtml-user-select: var(--secondary-color-transparent);
    -moz-user-select: var(--secondary-color-transparent);
    -ms-user-select: var(--secondary-color-transparent);
    user-select: var(--secondary-color-transparent);
}

body {
  background-color: var(--bg);
  font-family: var(--body-font);
  background-image: url(./images/spider-web-background.jpg);
  /* background-image: url(./images/web.jpg); */
  background-color: var(--bg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Reused elements */

.page-header {
  margin: 1rem auto 1rem auto;
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-weight: 400;
  background-color: var(--primary-color);
  max-width: fit-content;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: var(--shadow);
}

.back-button {
  position: fixed;
  bottom: 5%;
  left: 5%;
  float: inherit;

  height: 50px;
  width: 50px;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 900;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  box-shadow: var(--shadow);
}

.back-button:hover {
  cursor: pointer;
}

.button-flip:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.card-hover {
  transition: 250ms;
}

.card-hover:hover {
  height: 8rem;
}

/* Landing page styling */

.landing-container {
  width: 80%;
  height: 80vh;
  margin: auto;
  max-width: 800px;

  background-image: url('./images/landing-background.jpg');
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  border: 5px solid var(--secondary-color);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.landing-container a {
  text-decoration: none;
}

.landing-button {
  height: 3rem;
  width: 10rem;


  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  font-weight: bolder;

  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Drinks Page styling */

.drinks-container {
  max-width: 900px;
  margin: auto;
}

.drinks-container a{
  text-decoration: none;
}

.drinks-items {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-left: none;
  border-right: none;
  margin-bottom: -2px;

  list-style: none;
  width: 100%;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('./images/landing-background.jpg');
  background-color: #97979794;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.drinks-items div{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-width: 30px;
  padding: 5px 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  text-align: center;
}

.drinks-container a:last-child {
  margin-bottom: 6rem;
}

.all {
  background-position: center center;
}

.vodka {
  background-image: url('./images/vodka.jpg');
}

.tequila {
  background-image: url('./images/tequila.jpg');
}

.scotch-whiskey {
  background-image: url('./images/scotch-whiskey.jpg');
  background-position: center center;
}

.halloween {
  background-image: url('./images/halloween.jpg');
  background-position: center center;
}

/* Drink :category: page */

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-container:last-child {
  margin-bottom: 6rem;
}

.category-drink-container {
  width: 45%;
  height: 13.5rem;
  margin-bottom: 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  position: relative;
  border-radius: 8px;
  box-shadow: var(--shadow);
  transition: ease-in-out 200ms;
}

.category-items {
  position: absolute;
  bottom: 0px;
  text-align: center;
  /* background-color: var(--primary-color); */
  width: 100%;
  line-height: 150%;
  border-radius: 0 0 8px 8px;
  
}

.category-drink-container:hover {
  width: 47%;
}


.category-items div {
  color: white;
  font-size: 1.33em;
  text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black, 1px -1px 1px black;
}

.category-images {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.drink-image-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.drink-image {
  max-width: calc(100% - 2rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  align-self: center;
  /* border: solid 5px var(--secondary-color); */
}

/* .drink-text-container {
  margin: 0 5% 0 5%;
} */

.drink-desc {
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ingredient-list {
  list-style-type: square;
}

.gradient-bottom-border-l {
  width: 100%;
  border-block-end: 5px solid;
  border-image-source: 
  radial-gradient(circle at bottom left, 
  var(--secondary-color), 
  transparent 90%);
  border-image-slice: 1;
}

.gradient-bottom-border-r {
  width: 100%;
  border-block-end: 5px solid;
  border-image-source: 
  radial-gradient(circle at bottom right, 
  var(--secondary-color), 
  transparent 90%);
  border-image-slice: 1;
}