:root {
  --bg: rgb(95, 95, 95);
  --primary-color: rgb(74, 5, 95);
  --secondary-color: #ff7300;
  --shadow: 2px 2px 8px black;
  --header-font: 'Creepster', cursive;
  --body-font: 'Montserrat', sans-serif;
}

* {
  color: white;
}

body {
  background-color: var(--bg);
  font-family: var(--body-font);
}

/* Reused elements */

.page-header {
  color: var(--secondary-color);
  text-align: center;
  font-family: 'Creepster', cursive;
  font-weight: 400;
}

.back-button {
  position: fixed;
  bottom: 5%;
  left: 5%;
  float: inherit;

  height: 50px;
  width: 50px;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 900;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  box-shadow: var(--shadow);
}

.back-button:hover {
  cursor: pointer;
}

.button-flip:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.card-hover {
  transition: 250ms;
}

.card-hover:hover {
  height: 8rem;
}

/* Landing page styling */

.landing-container {
  width: 80%;
  height: 80vh;
  margin: auto;
  max-width: 800px;

  background-image: url('./images/landing-background.jpg');
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}


.landing-container a {
  text-decoration: none;
}

.landing-button {
  height: 3rem;
  width: 10rem;


  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  font-weight: bolder;

  
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Drinks Page styling */

.drinks-container {
  max-width: 900px;
  margin: auto;
}

.drinks-container a{
  text-decoration: none;
}

.drinks-items {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-left: none;
  border-right: none;
  margin-bottom: -2px;

  list-style: none;
  width: 100% - 4px;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('./images/landing-background.jpg');
  background-color: #97979794;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.drinks-items div{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-width: 30px;
  padding: 5px 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  text-align: center;
}

.all {
  background-position: center center;
}

.vodka {
  background-image: url('./images/vodka.jpg');
}

.tequila {
  background-image: url('./images/tequila.jpg');
}

.scotch-whiskey {
  background-image: url('./images/scotch-whiskey.jpg');
  background-position: center center;
}

.halloween {
  background-image: url('./images/halloween.jpg');
  background-position: center center;
}

/* Drink :category: page */

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-drink-container {
  width: 40%;
  height: 10rem;
  margin-bottom: 3rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  position: relative;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.category-items {
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: var(--primary-color);
  width: 100%;
  line-height: 150%;
  border-radius: 0 0 8px 8px;
}

.category-items div {
  color: var(--secondary-color);
}

.category-images {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}